<div class="col-lg-4">
  <div class="page-header">
    <h1><%=t '.title', :default => 'Communications' %></h1>
  </div>
  <%= render partial: "message_thread", collection: @message_threads %>
</div>

<div class="col-lg-8">
  <div class="active-thread-messages">
    Click a message to display
  </div>
</div>
